services:
  qdrant:
    image: qdrant/qdrant:latest
    ports:
      - "6333:6333"
      - "6334:6334"
    volumes:
      - qdrant_data:/qdrant/storage

  ollama:
    image: ollama/ollama:latest
    ports:
      - "11434:11434"
    volumes:
      - ollama_data:/root/.ollama
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]

  ollama-init:
    image: ollama/ollama:latest
    depends_on:
      ollama:
        condition: service_started
      
    entrypoint: /bin/bash
    command: >
      -c "
      sleep 20;
      ollama pull llama3.2:3b;
      ollama pull nomic-embed-text;
      "
    environment:
      - OLLAMA_HOST=http://ollama:11434
      
  app:
    build: .
    ports:
      - "8080:8080"
    depends_on:
      qdrant:
        condition: service_started
      ollama:
        condition: service_started
      ollama-init:
        condition: service_completed_successfully
    environment:
      - OLLAMA_HOST=http://ollama:11434
      - QDRANT_HOST=http://qdrant:6334

volumes:
  qdrant_data:
  ollama_data: